{% set defaultSettings = {
    custom: false,
    link: false
} %}

{% macro logo(settings) %}
    {% if settings %}
        {% set settings = mergeOptions(defaultSettings, settings) %}
    {% else %}
        {% set settings = defaultSettings %}
    {% endif %}


    <div class="logo">
        {% if settings.custom %}
            {% caller() %}
            {% else %}

                {% if settings.link %}
                    <a href="{{ settings.link }}">
                {% endif %}

                 {% if settings.link %}
                    </a>
                 {% endif %}

        {% endif %}
    </div>
{% endmacro %}