{% from 'core/components/expansion-panel/expansion-panel.njk' import expansionPanel %}

{% extends 'core/pages/page.njk' %}
{% block content %}
    {% call expansionPanel({
        header: 'expansionPanel'
    }) -%}
    {%- endcall %}
{% endblock %}
