{% import 'core/components/dropdown/dropdown.njk' as dropdownBlock %}

{% set defaultMenuSettings = {
    wide: false
} %}

{% set menuItems = [
    {
        menuItemName: 'Item 1',
        menuItemlink: '/'
    },
    {
        menuItemName: 'Item 2',
        menuItemlink: '/'
    },
    {
        menuItemName: 'Item 3',
        menuItemlink: '/',
        menuSubitems: [
            {
                menuItemName: 'Item 3.1',
                menuItemlink: '/'
            },
            {
                menuItemName: 'Item 3.2',
                menuItemlink: '/'
            }
        ]
    },
    {
        menuItemName: 'Item 4',
        menuItemlink: '/'
    }
] %}

{% macro mainMenu(items, settings) %}
    {% if items %} {% set items = items %}
        {% else %} {% set items = menuItems %}
    {% endif %}

    {% if items %}
        <nav aria-label="Main Navigation" class="main-nav">
            <ul class="main-menu__list">
                {% for item in items %}
                    {{ menuItem(item.menuItemName, item.menuItemlink, item.menuSubitems) }}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}

{% macro menuItem(name, link, submenu, class) %}
    {% if name %}
        <li class="{% if class %}{{ class }}{% else %}main-menu__list-item{% endif %}">
            {% if link %}
            <a href="{{ link }}">
                {% endif %}
                {{ name }}
                {% if submenu %}
                {% if link %}
                 </a>
                {% endif %}
                    <ul class="main-submenu__list">
                        {% for item in submenu %}
                            {{ menuItem(item.menuItemName, item.menuItemlink, item.menuSubitems, 'main-submenu__list-item') }}
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% if link %}
                            </a>
                        {% endif %}
                {% endif %}
        </li>
    {% endif %}
{% endmacro %}