<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Website</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

{% block header %}

{% endblock %}
<main>
    <h2>Title</h2>
    <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</main>

{% set items = ['f', 's', 't'] %}

<ul>
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
{% block footer %}

{% endblock %}

</body>

</html>