{% import 'core/components/main-menu/main-menu.njk' as menuBlock %}

{% set defaultSettings = {
    logo: true,
    menu: true,
    languageSwitcher: {
        items: [
            'En',
            'Ru'
        ],
        dropdown: false
    }
} %}

{% macro header(settings) %}
    {% if settings %}
        {% set settings = mergeOptions(defaultSettings, settings) %}
        {% else %}
            {% set settings = defaultSettings %}
    {% endif %}


    <header class="header">
        {% if settings.menu %}
            {{ menuBlock.mainMenu(null, menuSettings) }}
        {% endif %}
    </header>
{% endmacro %}