{% import 'core/components/header/header.njk' as headerBlock %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
</head>
<body>
{% set menu = [
    {
        menuItemName: 'First',
        menuItemlink: '/home'
    },
    {
        menuItemName: 'Seconde',
        menuItemlink: '/home'
    }
] %}

{{ headerBlock.header(menu) }}

{% block content %}
    <h1>Content</h1>
{% endblock %}

</body>

<script type="text/javascript" src="../js/bundle.js"></script>
</html>