// Base settings for browser
@import "normalize-scss/sass/normalize/import-now";

// Breakpoints, you can visit this link: https://www.npmjs.com/package/sass-breakpoints to familiarize
// with documentation
@import "sass-breakpoints/mixins";
@import 'breakpoint-settings'; // Base resolutions

// Fonts for project
@import "fonts";

// Don`t remove it, please. There is including styles for slider
@import "./swiper/dist/css/swiper.min";

// Don`t remove it, please. There is including base styles for all project
@import "./core/scss/_base";

// You can include styles for your component below
@import "src/components/test/_test";

html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}